<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Conformulator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <table class="table table-striped mx-auto">
      <thead>
	<tr>
	  <th scope="col">Repository</th>
	  <th scope="col">Code of Conduct Status</th>
	  <th scope="col">Community Score</th>
	</tr>
      </thead>
      <tbody>
	{% for repo in repositories %}
	<tr>
	  <td><a href="https://github.com/{{repo.name}}">{{repo.name}}</a></td>
	  <td>{% if repo.code_of_conduct.status == "Correct" %}&#x1F49A{% elif repo.code_of_conduct.status == "Incorrect" %}&#x1F494{% endif %} {{repo.code_of_conduct.status}} {% if repo.code_of_conduct.url %}(<a href="{{repo.code_of_conduct.url}}">link</a>){% endif %}</td>
	  <td>{% if repo.community_report.health_percentage %}{{repo.community_report.health_percentage}}%{% else %}N/A{% endif %}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </body>
</html>
